[Unit]
Description=tar1090 analytics aggregation jobs
After=network.target postgresql.service
Wants=postgresql.service

[Service]
User=tar1090
Group=tar1090
WorkingDirectory=/usr/local/share/tar1090/analytics/jobs
EnvironmentFile=/etc/default/tar1090-analytics
ExecStart=/usr/bin/python3 main.py
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
